body{
    margin: auto;
    text-align: center;
    color: #ffffff;
}
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    gap: 10px;
}
.bg-mask {
    background: url('/img/1674271546_catherineasquithgallery-com-p-fon-vizitki-serii-foto-120.jpg') no-repeat;
    position: fixed;
    width: 1800px;
    height: 700px;
    z-index: -1;
    top: 0;
padding: 0;
margin: 0;
}
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    border-radius: 8px;
    padding: 10px;
    width: 80px;
    height: 80px;
    box-shadow: 0px 2px 10px rgb(255, 255, 255);
}

.countdown-unit {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.countdown-label {
    font-size: 0.8rem;
    text-transform: uppercase;
}
.dorogoi-gost {
    text-align: center;
    margin-top: 50px;
}
.dresscode {
    margin-top: 50px;
    text-align: center;
}